<div class='row'>
  <div class='span12'>
  <ul>
    <h2><li><a ui-sref='states'>States</a> | <a ui-sref="guestbook">Guestbook</a> | <a ui-sref='login' ng-click='statesCtrl.logout()'>Logout</a></li></h2>
  </ul>
  </div>
</div>
<div>
  <select ng-model='statesCtrl.abbrev'
          class='stateDropdown'
          ng-change='statesCtrl.getSpecificState()'>
    <option value='' disabled='disabled'>---Select A State!---</option>
    <option ng-repeat='abbreviation in statesCtrl.abbreviations'>{{abbreviation}}</option>
  </select>
  <button type='button' ng-click='statesCtrl.stateList()' ng-if='statesCtrl.oneState'>Reset the entire List!</button>
</div>
<div class='state-container'
     ng-repeat='state in statesCtrl.states'
     ng-class='statesCtrl.oneState ? "singleState" : "stateContainter"'>
  <div class='stateName'>{{state.name}} ({{state.abbreviation}})</div>
    <div class='left-info'>
      <p><span class='fieldName'>Capital:</span> {{state.capital}}</p>
      <p><span class='fieldName'>Most Populous City:</span> {{state['most-populous-city']}}</p>
      <p><span class='fieldName'>Population:</span> {{state.population}} 'MERICANS!</p>
    </div>
    <div class='pull-right'>
      <p><span class='fieldName'>Size:</span> {{state['square-miles']}} square miles. WOWZERS!<p>
      <p><span class='fieldName'>TimeZone(s):</span> {{state['time-zone-1']}} {{state['time-zone-2']}}</span></p>
      <p><span class='fieldName'>Do they have Daylight Savings Time?</span> {{state.dst}}</p>
    </div>
</div>
